<h2>Search for Movies</h2>

<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [formControl]="form.controls.title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select [formControl]="form.controls.genreId">
            <mat-option [value]="0">--Select a genre--</mat-option>
            @for (genre of genres; track $index) {
             <mat-option [value]="genre.id">{{genre.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <div>
        <mat-checkbox [formControl]="form.controls.upcomingReleases">Upcoming Releases</mat-checkbox>
    </div>

    <div>
        <mat-checkbox [formControl]="form.controls.inTheaters">In Theaters</mat-checkbox>
    </div>

    <div class="container-clear">
        <button mat-flat-button (click)="clear()" color="warn">Clear</button>
    </div>
</form>

<app-movies-list [movies]="movies">
</app-movies-list>
<mat-paginator showFirstLastButtons [length]="totalRecordsCount"
[pageIndex]="pagination.page-1" [pageSize]="pagination.recordsPerPage"
[pageSizeOptions]="[5, 10, 50]" class="mat-elevation-z8" (page)="handlePagination($event)"
></mat-paginator>