/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    height: fit-content;
}

.buttons-container button {
    margin-right: 1rem;
}

mat-form-field {
    width: 100%;
    max-width: 500px;
    display: block !important;
    margin-top: 1rem;
}

.buttons-container{
    margin-top: 1rem;
}

.index-elements {
    margin-top: 1rem;
}

.index-elements a{
    margin-right: 1rem;
}