<form (submit)="saveChanges()" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Name*</mat-label>
        <input formControlName="name" matInput />
        <mat-error>The name field is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <h4>Select Picture</h4>

    <app-input-img
    [urlCurrentImage]="model?.picture"
    (onImageSelected)="onImageSelected($event)"></app-input-img>

    <h4>Biography</h4>

    <app-input-markdown 
    [markdownContent]="model?.biography"
    (changeMarkdown)="changeMarkdown($event)"></app-input-markdown>

    <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">Save Changes</button>
        <a mat-stroked-button routerLink="/actors">Cancel</a>
    </div>
</form>