<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>local_movies</mat-icon> AngularMovies
    </a>
  </span>

  <div>
    <a mat-button routerLink="movies/filter">
      <mat-icon>search</mat-icon>Search movies</a>
  </div>

  <div>
    <a mat-button routerLink="genres"> Genres </a>
  </div>

  <div>
    <a mat-button routerLink="actors"> Actors </a>
  </div>

  <div>
    <a mat-button routerLink="movietheaters"> Movie Theaters </a>
  </div>

  <div>
    <a mat-button routerLink="movies/create"> Create Movie </a>
  </div>
</mat-toolbar>
