<div class="container">
    <ul>
        @for (item of nonSelected; track $index) {
            <li (click)="select(item, $index)">{{item.description}}</li>
        }
    </ul>

    <div class="buttons-div">
        <button type="button" (click)="selectAll()">>></button>
        <button type="button" (click)="deselectAll()"><<</button>
    </div>

    <ul>
        @for (item of selected; track $index) {
            <li (click)="deselect(item, $index)">
                {{item.description}}
            </li>
        }
    </ul>

</div>