<app-generic-list [list]="movies">
  <ng-container content>
    <div
      *ngFor="let movie of movies; let index = index"
      class="movie-container"
    >
      <div>
        <h2>{{ index }}) {{ movie.title | lowercase }}</h2>
        <button style="margin-left: 1rem" (click)="remove(index)">
          Remove
        </button>
      </div>
      <div>
        {{ movie.releaseDate | date: "dd-MMMM-yyyy" | uppercase }}
      </div>
      <div>
        {{ movie.price | currency }}
      </div>
    </div>
  </ng-container>
</app-generic-list>
