.movie-container{
    margin-right: 2%;
    margin-bottom: 10px;
    text-align: center;
}

.movies-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

p {
    max-width: 225px;
    height: 44px;
    font-size: 15px;
    font-weight: bold;
}

image {
    width: 225px;
    height: 300px;
}

button {
    margin-left: 1em;
}