.fixed-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

app-authorized {
    display: flex;
}

.space{
    flex: 1 1 auto;
}

.greeting{
    font-size: 18px;
    display: inline;
}